##просто контейнер с PostgreSQL
##без дополнительных сервисов и настроек типа app - приложение (сборка из Dockerfile)
##adminer — веб-интерфейс для управления БД
services:
  postgres:
    image: postgres:16-alpine
    container_name: ecommerce-postgres
    ##restart: unless-stopped
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: ecommerce
    volumes:
      - postgres-data:/var/lib/postgresql/data
    ports:
      - "5432:5432"
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 10s
      timeout: 5s
      retries: 5

volumes:
  postgres-data:
